$defaultFontColor = #333
$activeFontColor = #FFFFFF
$sFontSize = 13px
$mFontSize = 15px
$lFontSize = 17px

$defaultBgColor = #03A9F4
$defaultBorderColor = #ddd
$activeBgColor = #FFEB3B

fontDefault(fontColor = $defaultFontColor)
  color fontColor
  font-size $mFontSize
  background $defaultBgColor
  
hideText()
  text-overflow ellipsis
  overflow hidden
  white-space nowrap