$defaultFontColor = #333
$activeFontColor = #FFFFFF
$sFontSize = 13px
$mFontSize = 15px
$lFontSize = 17px

$defaultBgColor = #03A9F4
$defaultBorderColor = #ddd
$activeBgColor = #FFEB3B

$borderColor = #F8F8FF

fontDefault(fontColor = $defaultFontColor)
  color fontColor
  font-size $mFontSize
  background $defaultBgColor
  
hideText()
  text-overflow ellipsis
  overflow hidden
  white-space nowrap

defaultBtn()
  display inline-block;
  line-height 1;
  white-space nowrap;
  cursor pointer;
  background #fff;
  border 1px solid #dcdfe6;
  color #606266;
  -webkit-appearance none;
  text-align center;
  box-sizing border-box;
  outline none;
  margin 0;
  transition .1s;
  font-weight 500;
  -moz-user-select none;
  -webkit-user-select none;
  -ms-user-select none;
  padding 12px 20px;
  font-size 14px;
  border-radius 4px;
  
.right-enter-active, .right-leave-active
  transition all .4s ease-out
  transform translate3d(0,0,0)
  opacity 1
.right-enter, .right-leave-to
  transform translate3d(100%,50%,0)
  opacity .2
